<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card text-center" style="width: 27rem;">
                <div class="card-body">
                    <h2 class="card-title" id="login">Create an Account</h2>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Retype Password:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a id="login" class="form-text text-muted" href="/login">Already Have an Account? Click
                            Here to Login!
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>