<div class="container">
        <img src="./GG2.png" class="logo" alt="">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card text-center" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="card-title">Have an Account?</h5>
                        <a href="/login" class="btn btn-success">Sign In</a>
                        <br>
                        <h5 class="card-title">New?</h5>
                        <a href="/signup" class="btn btn-success">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>