{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div> --}}

<div class="row mt-4">
  <div class="col-md-6 list-container nopad">
    <form class="card text-center form new-project-form">
      <h3>Add To Your Grocery List!</h3>
      <div class="form-group">
        <label for="project-name">Item Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class=" card text-center col-md-6 project-list">
    <h3>Grocery List:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-2">
        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
          aria-label="...">
      </div>
      <div class="col-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-2">
        <i class="btn btn-sm btn-primary fas fa-trash-alt" data-id="{{project.id}}"></i>

      </div>
    </div>
    {{/each}}
  </div>
  <div class="btn-group center dropdown row">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" data-flip='false'>
      Text Me My List!
    </button>
    <div class="dropdown-menu">
      <form class="px-4 py-3 frm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="phone">Phone Number</label>
          <textarea class="phone form-control" id="number" rows="1"></textarea>
        </div>
        <button type="submit" id="text-button" class="btn btn-primary phone">Submit</button>
      </form>
    </div>
  </div>
</div>
{{/if}}



<script src="./js/profile.js"></script>
<script src="./js/text.js"></script>